.header-hero{
    position: relative;
    padding-top: 77px;
    padding-bottom: 91px;
    background-image: url('../../img/headerbg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    width: 100%;
}
.header-hero__triangle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.header-hero__image{
    @media(max-width:@tablet-width){
        width: 282px;
        height: 214px;
    }
}