html{
    font-family: 'PT Sans', Arial, sans-serif;
    box-sizing: border-box
}
body{
    min-width: 320px;
    height: 100%;
    background-color: #e2e2e2;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

*,
*:before,
*:after {
    box-sizing: inherit; 
}
.page__wrapper{
    margin: 0 40px;
    @media(max-width:@desktop-width){
        margin: 0;
    }
}